@use '@carbon/react';

$color-high-importance: #ff8080;
$color-medium-importance: #ffff80;
$color-low-importance: #c6f7d0;
$color-background: #fff5cf;
$color-border: #000;
$color-logo-button: #597cff;
$color-text-default: #000;
$color-text-muted: #787878;
$color-filter-background: #adadad;
$color-filter-active-yellow: yellow;
$color-filter-active-green: green;
$color-filter-active-red: red;
